/* This is the parent element to all rows and columns within the html. */
.container {
    margin: 5%;
    padding: 5%;
    display: grid;
    grid-template: auto 1fr auto/ auto 1fr auto;   
}

/* This is the parent element to all the columns in the html. */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

/* This is the child element that contains the title and "new task" button. */
.col-md-12 {
    margin: 5px;
    order: 0;
    flex-grow: 4;
    flex-shrink: 4;
    flex-basis: auto;
    grid-column: 1/4;
}

/* This is another child element that contains the tasks, including the hidden task. */
.col-md-4 {
    order: 0;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    grid-column: 2/3;
    display: grid;
    place-items: center;
    margin-top: 1rem;
    padding-top: 1rem;
}

textarea {
    width: 100%;
}

/* #hiddenTask {
    visibility: hidden;
} */